* {
	margin: 0;
	padding: 0;
    box-sizing: border-box;
}

html,
body {
	width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    overflow: hidden;
}

#code {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

    #code .header {
        height: 52px;
        flex: initial;
        background: #68217a;
    }

    #code .workspace {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    #code .nav {
        width: 50px;
        height: 100%;
        flex: initial;
        background: #2c2c2c;
    }

    #code .explorer {
        width: 350px;
        height: 100%;
        flex: initial;
        background: #f3f3f3;
    }

    #code .document {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
    }

    #code .tabs {
        height: 35px;
        flex: initial;
        background: #f3f3f3;
    }

        #code .tabs .tab {
            height: 35px;
            background: #ececec;
            color: #979797;
            margin-right: 1px;
            float: left;
            width: auto;
            border: none;
            display: block;
            outline: 0;
            padding: 0 30px;
            font-size: 12px;
            cursor: pointer;
        }

        #code .tabs .active {
            background: #fff;
            color: #000;
        }
    #code .data {
        flex: 1;
    }

    #code .status {
        height: 22px;
        flex: initial;
        background: #137cc9;
    }

    #welcome {
        max-width: 1200px;
        margin: 100px auto;
        display: flex;
        font-size: 10pt;
        justify-content: stretch;
        color: #717171;
    }

        #welcome .content {
            width: 100%;
        }

        #welcome h1 {
            font-weight: normal;
            font-size: 34pt;
            line-height: normal;
            color: #616161;
        }

        #welcome h2 {
            font-weight: normal;
            font-size: 20pt;
            line-height: normal;
        }

        #welcome h3 {
            font-weight: normal;
            font-size: 16pt;
            line-height: normal;
        }

        #welcome a,
        #welcome a:link,
        #welcome a:visited {
            text-decoration: none;
            color: #0149bc;
        }

        #welcome a:hover {
            text-decoration: underline;
        }

        #welcome .feature {
            background: #f5f5f5;
            margin: 10px;
            padding: 20px;
        }

#editor {
	width: 100%;
    height: 100%;
}
