* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    width: 100%;
    height: 100%;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
}

body {
    overflow: hidden;
}

a,
a:link,
a:visited {
    text-decoration: none;
    color: var(--primary-background);
}

    a:hover {
        text-decoration: underline;
    }

h1 {
    font-weight: normal;
    font-size: 34pt;
    line-height: normal;
    color: var(--workspace-dark);
}

h2 {
    font-weight: normal;
    font-size: 20pt;
    line-height: normal;
}

h3 {
    font-weight: normal;
    font-size: 16pt;
    line-height: normal;
}

platform {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: stretch;
}

    platform header {
        height: 52px;
        flex: initial;
        display: flex;
        justify-content: space-between;
        background: var(--primary-background);
    }

        platform header section.left {
            height: 52px;
            display: flex;
            justify-content: flex-start;
        }

        platform header section.right {
            height: 52px;
            display: flex;
            justify-content: flex-end;
        }

        platform header img.logo  {
            height: 22px;
            margin: 17px;
            opacity: 0.95;
        }

    platform workspace {
        height: 100%;
        flex: 1;
        display: flex;
        flex-direction: row;
        justify-content: stretch;
    }

    platform navigation {
        width: 50px;
        min-width: 50px;
        height: 100%;
        padding: 10px 0;
        flex: initial;
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        background: var(--navagation-background);
        order: 1;
    }

        platform navigation a.item {
            width: 100%;
            position: relative;
            color: var(--navagation);
            font-size: 20px;
            padding: 10px 0;
            text-align: center;
            text-decoration: none;
            opacity: 0.5;
            cursor: pointer;
        }

            platform navigation a.item:hover {
                opacity: 1;
                text-decoration: none;
            }

        platform navigation a.active {
            opacity: 1;
            cursor: default;
        }

    platform explorer {
        width: 250px;
        height: 100%;
        flex: initial;
        color: var(--control);
        background: var(--control-background);
        order: 2;
    }

    platform application {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        overflow: hidden;
        order: 3;
    }

    platform tabs {
        height: 35px;
        flex: initial;
        background: var(--control-background);
    }

        platform tabs button.tab {
            height: 32px;
            color: var(--disabled);
            background: var(--disabled-background);
            margin: 3px 2px 0 0;
            float: left;
            width: auto;
            border: none;
            display: block;
            outline: 0;
            padding: 0 30px 0 30px;
            font-size: 12px;
            cursor: pointer;
        }

        platform tabs button.active {
            color: var(--workspace);
            background: var(--workspace-background);
            border-top: 2px var(--primary-background) solid;
            padding-bottom: 2px;
            cursor: default;
        }

    platform component {
        flex: 1;
        overflow: auto;
        display: none;
    }

        platform component.active {
            display: block;
        }

        platform component.lock {
            overflow: hidden;
        }

    platform status {
        height: 22px;
        flex: initial;
        background: var(--primary-background);
    }

    platform static {
        max-width: 1200px;
        margin: 100px auto;
        padding: 0 50px;
        display: flex;
        font-size: 10pt;
        justify-content: stretch;
        color: var(--workspace-light);
    }

        platform static column {
            width: 100%;
        }

        platform static feature {
            color: var(--control-light);
            background: var(--control-light-background);
            display: block;
            margin: 10px;
            padding: 20px;
        }

    platform mask {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--mask);
        background: var(--mask-background);
    }

    platform loader {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
        font-size: 21pt;
        text-align: center;
        margin-bottom: 150px;
    }

        platform loader img {
            width: 57px;
            height: 57px;
            margin-bottom: 10px;
        }