#dashboard {
    padding: 5px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#dashboard .row {
    min-height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

#dashboard .item {
    width: 100%;
    margin: 5px;
    background: var(--workspace-background);
}

#dashboard .item *:first-child {
    width: 100%;
    height: 100%;
}

#demo-one {
    min-height: 150px;
    background: var(--workspace-dark-background);
}

#demo-two {
    min-height: 100px;
    background: var(--workspace-dark-background);
}

#demo-three {
    min-height: 150px;
    background: var(--workspace-dark-background);
}

#demo-four {
    min-height: 150px;
    background: var(--workspace-dark-background);
}

#demo-five {
    min-height: 200px;
    background: var(--workspace-dark-background);
}

#demo-six {
    min-height: 310px;
    background: var(--workspace-dark-background);
}

#demo-seven {
    min-height: 150px;
    background: var(--workspace-dark-background);
}

#demo-eight {
    min-height: 150px;
    background: var(--workspace-dark-background);
}