#marvin .data {
    overflow: hidden !important;
}

#editor {
    width: 100%;
    height: 100%;
}

#editor a,
#editor a:link,
#editor a:visited {
    text-decoration: none;
    color: var(--workspace);
}

#editor a:hover {
    text-decoration: none;
    color: var(--highlight);
    background: var(--highlight-background);
}