:root {
    --primary: #ffffff;
    --primary-background: #137cc9;
    --control: #282828;
    --control-background: #f3f3f3;
    --control-light: #717171;
    --control-light-background: #f5f5f5;
    --control-dark: #282828;
    --control-dark-background: #dddddd;
    --workspace: #282828;
    --workspace-background: #ffffff;
    --workspace-light: #717171;
    --workspace-light-background: #ffffff;
    --workspace-dark: #616161;
    --workspace-dark-background: #fcfcfc;
    --navagation: #ffffff;
    --navagation-background: #2c2c2c;
    --disabled: #979797;
    --disabled-background: #ececec;
    --highlight: #ffffff;
    --highlight-background: #1e58cc;
}